.bg-color{
    background-image: linear-gradient(45deg,rgba(153,153,255,0.2),rgba(16, 16, 236, 0.4),rgba(153,153,255,0.6));
}

.bg-color-header{
    background-image: linear-gradient(45deg,rgba(153,153,255,1),rgba(16, 16, 236, 0.2),rgba(153,153,255,0.4));
}
.container-md{
    padding:1px;
}
form{
    background-color: rgb(16,16,230,0.1);
    
}



fieldset{
    background:linear-gradient(45deg,rgba(153,153,255,0.2),rgba(16, 16, 236, 0.4),rgba(153,153,255,0.6));
    color:white;
    

}
fieldset div {
    font-size:20px;
    color:white;
    background:none;
    
}
fieldset div div{
    background:none;
}

fieldset div div input{
    
    background-color:none;

    box-shadow:2px 2px 15px;
}
.tab-content{
    border-right:2px solid #ddd;
    border-left: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}